n8n/workflows/02_project_setup.json
{
  "name": "02 - Project Setup",
  "nodes": [
    {
      "parameters": {},
      "id": "setup-trigger-01",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/requirements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.requirements_id }}" },
            { "name": "select", "value": "*" }
          ]
        },
        "options": {}
      },
      "id": "setup-fetch-reqs-02",
      "name": "Fetch Requirements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/orgs/{{ $env.GITHUB_ORG }}/repos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "",
              "value": "={{ JSON.stringify({ name: $('Execute Workflow Trigger').first().json.slug, description: ($json[0].objectives[0] || {}).description || 'Generated by Autonomous Software Factory', private: false, auto_init: true, gitignore_template: 'Node', has_issues: true, has_projects: false, has_wiki: false }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "setup-create-repo-03",
      "name": "GitHub: Create Repository",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "setup-wait-repo-04",
      "name": "Wait for Repo Init",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const repoData = $('GitHub: Create Repository').first().json;\nconst slug = $('Execute Workflow Trigger').first().json.slug;\nconst requirements = $('Fetch Requirements').first().json[0];\n\n// Build milestone creation payloads from roadmap\nconst milestones = (requirements.roadmap || []).map((m, i) => ({\n  title: m.milestone || `Milestone ${i + 1}`,\n  description: m.description || '',\n  due_on: new Date(Date.now() + (m.estimated_weeks || 1) * 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] + 'T23:59:59Z'\n}));\n\n// Build issue creation payloads from user stories\nconst issues = (requirements.user_stories || []).slice(0, 20).map(us => ({\n  title: `[${us.id || 'US'}] ${us.action || 'User story'}`,\n  body: `**As a** ${(us.role || 'user').replace('As a ', '')}\\n**I want to** ${us.action || ''}\\n**So that** ${us.benefit || ''}\\n\\n## Acceptance Criteria\\n${(us.acceptance_criteria || []).map(c => `- [ ] ${c}`).join('\\n')}\\n\\n**Priority**: ${us.priority || 'medium'}`,\n  labels: ['user-story', us.priority === 'high' ? 'priority:high' : us.priority === 'low' ? 'priority:low' : 'priority:medium']\n}));\n\nreturn [{ json: {\n  repo_full_name: repoData.full_name,\n  repo_url: repoData.html_url,\n  default_branch: repoData.default_branch || 'main',\n  slug,\n  milestones,\n  issues,\n  project_id: $('Execute Workflow Trigger').first().json.project_id,\n  requirements_id: $('Execute Workflow Trigger').first().json.requirements_id\n} }];"
      },
      "id": "setup-prepare-data-05",
      "name": "Prepare GitHub Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_ORG }}/{{ $json.slug }}/git/refs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "",
              "value": "={{ JSON.stringify({ ref: 'refs/heads/develop', sha: $('GitHub: Create Repository').first().json.default_branch ? '' : '' }) }}"
            }
          ]
        },
        "options": {
          "ignore400": true
        }
      },
      "id": "setup-create-branch-06",
      "name": "GitHub: Get Main SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_ORG }}/{{ $('Prepare GitHub Data').first().json.slug }}/git/ref/heads/{{ $('Prepare GitHub Data').first().json.default_branch }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" }
          ]
        },
        "options": {}
      },
      "id": "setup-get-sha-07",
      "name": "Get Main Branch SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_ORG }}/{{ $('Prepare GitHub Data').first().json.slug }}/git/refs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "",
              "value": "={{ JSON.stringify({ ref: 'refs/heads/develop', sha: $json.object.sha }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "setup-create-develop-08",
      "name": "GitHub: Create Develop Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Prepare GitHub Data').first().json.project_id }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "",
              "value": "={{ JSON.stringify({ github_repo_url: $('Prepare GitHub Data').first().json.repo_url, github_repo_name: $('Prepare GitHub Data').first().json.slug, status: 'agent_pipeline' }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "setup-update-project-09",
      "name": "Update Project with GitHub Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "name", "value": "03 - Multi-Agent Pipeline" },
        "options": { "waitForSubWorkflow": false },
        "fields": {
          "values": [
            { "name": "project_id", "stringValue": "={{ $('Prepare GitHub Data').first().json.project_id }}" },
            { "name": "requirements_id", "stringValue": "={{ $('Prepare GitHub Data').first().json.requirements_id }}" },
            { "name": "github_repo_name", "stringValue": "={{ $('Prepare GitHub Data').first().json.slug }}" },
            { "name": "github_repo_url", "stringValue": "={{ $('Prepare GitHub Data').first().json.repo_url }}" }
          ]
        }
      },
      "id": "setup-trigger-agents-10",
      "name": "Trigger Multi-Agent Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Fetch Requirements", "type": "main", "index": 0 }]]
    },
    "Fetch Requirements": {
      "main": [[{ "node": "GitHub: Create Repository", "type": "main", "index": 0 }]]
    },
    "GitHub: Create Repository": {
      "main": [[{ "node": "Wait for Repo Init", "type": "main", "index": 0 }]]
    },
    "Wait for Repo Init": {
      "main": [[{ "node": "Prepare GitHub Data", "type": "main", "index": 0 }]]
    },
    "Prepare GitHub Data": {
      "main": [[{ "node": "Get Main Branch SHA", "type": "main", "index": 0 }]]
    },
    "Get Main Branch SHA": {
      "main": [[{ "node": "GitHub: Create Develop Branch", "type": "main", "index": 0 }]]
    },
    "GitHub: Create Develop Branch": {
      "main": [[{ "node": "Update Project with GitHub Info", "type": "main", "index": 0 }]]
    },
    "Update Project with GitHub Info": {
      "main": [[{ "node": "Trigger Multi-Agent Pipeline", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "factory" }]
}
